.logo-container {
    width: 30vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    padding:0;
    background-size: cover;
    background-position: center;
    background-image: url('../../../assets/images/profile.svg');
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 5px;

    img {
        width: 15vw;
        height: 20vw;
        object-fit: cover;
    }
}

.svg-container {
    stroke: #ffd700;
    stroke-width: 10;
}