.logo-container {
    width: 15vw;
    height: 20vw;
    // display: flex;
    // justify-content: right;
    // align-items: center;
    // position: absolute;
    // background-image: url("../../../assets/images/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    // top: 20%;
    border: 10px solid rgb(72, 154, 221);
    border-radius: 5px;
    // right: 15%;

    img {
        width: 15vw;
        height: 20vw;
        opacity: 1;
    }
}

.svg-container {
    stroke: #ffd700;
    stroke-width: 10;
}