.about-details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  height: auto;
  width: 80%;
  background: rgba(255, 255, 255, 0.168);
  box-shadow: 0 4px 13px 0 rgba(88, 88, 95, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  padding: 1rem;

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 0.5rem;
  }

  .education {
    h1 {
      text-align: center;
    }
  }
}

h3 {
  font-size: 2vw;
  letter-spacing: 2px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}
h4,
p {
  color: rgba(74, 74, 74, 0.804);
  font-size: 1.5vw;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.stage-cube-cont {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 11s;
  transform-style: preserve-3d;
  transform-origin: 15vw 8vw 0;
  margin-left: calc(50% - 10vw);

  div {
    position: absolute;
    width: 12vw;
    height: 12vw;
    border: 1px solid rgb(83, 81, 73);
    background: rgba(221, 221, 221, 0.192);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px rgb(128, 128, 127);
    img {
      width: 5vw;
      height: 5vw;
    }
  }

  .face1 {
    transform: translateZ(6.1vw);
  }

  .face2 {
    transform: rotateY(90deg) translateZ(6.1vw);
    animation: displayReverse 15s infinite;
    opacity: 0;
  }

  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(6.1vw);
  }

  .face4 {
    transform: rotateY(180deg) rotateZ(-90deg) translateZ(6.1vw);
  }

  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(6.1vw);
    animation: displayReverse 8s infinite;
    opacity: 0;
  }

  .face6 {
    transform: rotateX(-90deg) translateZ(6.1vw);
    animation: displayReverse 8s infinite;
    opacity: 0;
  }

  .face7 {
    transform: rotateY(90deg) translateZ(6.1vw);
    animation: displayIcon 8s infinite;
    opacity: 0;
  }

  .face8 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(6.1vw);
    animation: displayIcon 8s infinite;
    opacity: 0;
  }

  .face9 {
    transform: rotateX(-90deg) translateZ(6.1vw);
    animation: displayIcon 8s infinite;
    opacity: 0;
  }
}

@keyframes displayIcon {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes displayReverse {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  16% {
    transform: rotateY(-90deg);
  }

  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }

  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }

  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }

  83% {
    transform: rotateX(90deg);
  }
}

@media (min-width: 1165px) {
  .education {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 2rem;
  }
}
@media (max-width: 1165px) {
  .about-details{
    width: 70vw;
    margin: 0;
    height: auto;
  }
  .education {
   h3{
    font-size: 3.5vw;
   }
   h4,p{
    font-size: 2.5vw;
    color: rgb(25, 23, 23);
   }
  }
}
@media (max-width: 650px) {
  .about-details{
    width: 65vw;
  }
  .education {
   h3{
    font-size: 3vw;
   }
   h4,p{
    font-size: 2vw;
    color: rgb(25, 23, 23);
   }
  }
}

@media (max-width: 1500px) {
  .page-container {
    flex-direction: column-reverse;
    justify-content: center;
    .text-zone{
      width: 70vw;
      height: auto;
      margin-top: 6rem;
    }
    h1 {
      font-size: 6vw;
      line-height: 5vw;
      letter-spacing: 4px;
    }
    h2,
    p {
      font-size: 2.5vw;
    }.flat-button {
      font-size: 2vw;
    }
    
    .stage-cube-cont {
      width: 80%;
      height: 40%;
      display: block;
      text-align: center;
      overflow: hidden;
      .cubespinner {
        padding: 3rem;
      }
    }
  }
}

@media screen and (min-width: 1166px) and (max-width: 1499px) {
  .education {
    width: 60vw;
    height: auto;
    h3{
      font-size: 3vw;
     }
     h4{
      font-size: 2vw;

     }
  }
}

@media screen and (max-width: 1500px) {
  .cubespinner {
    transform-origin: 10vw 25vw 0;
  }
}

// @media only screen and (max-width: 1000px) {
//   .cubespinner {
//     transform-origin: 19vw 20vw 0;
//   }
// }

// @media only screen and (max-width: 560px) {
//   .stage-cube-cont {
//     width: 80%;
//     height: 50%;
//     top: 0;
//     left: 40%;
//   }

//   .cubespinner {
//     transform-origin: 10vw 20vw 0;
//   }
// }
