@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');

.page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: 80%;
  overflow: hidden;
  .text-zone {
    background: rgba(255, 255, 255, 0.168);
    box-shadow: 0 8px 32px 0 rgba(153, 155, 136, 0.601);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    animation: fadeIn 1s;
    padding: 1.5rem;
    margin: 1rem;
    width: 50%;
    max-height: 93%;
  }
  h2,
  p {
    color: #3d3434;
    font-size: 1.2vw;
    margin-top: 0.5vw;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 2px;

    strong{
      color: #ffff;
    }
  }
}

.flat-button {
  border: 2px solid #000000;
  color: #040404;
  font-size: 0.9vw;
  background: none;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 1vw 1vh;
  border-radius: 5px;
  margin-top: 1vw;
  float: left;
  animation: fadeIn 0.5s 0.5s backwards;
  white-space: nowrap;

  &:hover {
    color: #b1b4bd;
    border: 2px solid #b1b4bd;
  }
}

h1 {
  font-size: 3vw;
  line-height: 3.5vw;
  letter-spacing: 1.5px;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

@media (max-width: 900px) {
  .page-container {
    .text-zone {
      margin: 2rem;
      width: 70vw;
      height: auto;
      
    }
    h2,
    p {
      font-size: 2.1vw;
      letter-spacing: 1.5px;
      padding-top: 1vw;
    }.flat-button {
      font-size: 2vw;
    }
    
  }
}

@media (max-width: 500px) {
  .logo-container{
    width: 60vw;
    height: 50vw;
    margin-bottom: 3rem;
    background-position:center;
    padding: 0 2.1rem;
    img{
      width: 40vw;
      height: 50vw;
      position: absolute;
      bottom: 0.5px;
    }
  }
}

// @media only screen and (max-width: 500px) {
//   .container {
//     .text-zone {
//       width: 50%;
//       position: absolute;
//       left: 30%;
//     }

//     h1 {
//       font-size: 3vw;
//       letter-spacing: 0;
//     }

//     h2 {
//       font-size: 1.5vw;
//     }
//   }
// }

.area {
  width: 100%;
  height: 100vh;
}
