@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');

.page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: 80%;
  .text-zone {
    background: rgba(225, 223, 223, 0.315);
    box-shadow: 0 8px 32px 0 rgba(136, 139, 102, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    animation: fadeIn 1s;
    padding: 1.5rem;
    width: 50%;
    max-height: 93%;
  }
  h2,
  p {
    color: #7a7878;
    font-size: 1.2vw;
    margin-top: 0.5vw;
    font-weight: 400;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1s backwards;
  }
}

.flat-button {
  border: 1px solid #000000;
  color: #040404;
  font-size: 0.9vw;
  background: none;
  font-weight: 200;
  letter-spacing: 3px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 1vw 1vh;
  border-radius: 5px;
  margin-top: 1vw;
  float: left;
  animation: fadeInAnimation 1s 1.2s backwards;
  white-space: nowrap;

  &:hover {
    color: #054dea;
    border: 1px solid #0e19f2;
  }
}

h1 {
  font-size: 3vw;
  line-height: 3.5vw;
  letter-spacing: 2px;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    .text-zone {
      padding: 1rem;
      margin: 5rem 0;
    }
  }
}

// @media only screen and (max-width: 500px) {
//   .container {
//     .text-zone {
//       width: 50%;
//       position: absolute;
//       left: 30%;
//     }

//     h1 {
//       font-size: 3vw;
//       letter-spacing: 0;
//     }

//     h2 {
//       font-size: 1.5vw;
//     }
//   }
// }

.area {
  width: 100%;
  height: 100vh;
}
