.connect {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h5,
  a {
    font-size: 1vw;
    padding: 0 1rem;
  }
}

.contact-img {
  width: 40vw;
  height: auto;
  backdrop-filter: blur(8px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  .contact-page {
    justify-content: center;
    flex-direction: column;
    .text-zone {
      width: 60vw;
      height: auto;
      margin-top: 6rem;
    }
    h1 {
      font-size: 4vw;
      line-height: 2vw;
      letter-spacing: 4px;
    }
    h4,h5{
      font-size: 1.8vw;
    }
    h2,
    p {
      margin: 1rem 0;
      font-size: 2vw;
      letter-spacing: 1.5px;
    }
    .flat-button {
      font-size: 1.5vw;
    }
    .contact-img{
      height: 70vw;
      width: 70vw;
    }
  }
}
