
    .connect {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      h5,a{
        font-size: 1vw;
        padding: 0 1rem;
      }      
    }

    .contact-img{
        width: 40vw;
        height: auto;
        backdrop-filter: blur(8px);
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }
