html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6e3e3ca;
  overflow: hidden;
  display: block;
}

/* body {
  margin: 0;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: block;
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg, 
        rgb(248, 90, 90) 0%, 
        rgba(232, 165, 94, 0.784) 30%,
        rgb(234, 78, 195)  45%, 
        rgb(223, 253, 31) 58%,
        rgb(191, 91, 245) 78%,
        rgb(62, 181, 232) 85%,
        rgb(245, 86, 142) 100%
  );  
 animation: AnimateBG 20s ease infinite;
  
} */


@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
