html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  margin: 0;
  // font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  // color: #d9e1be;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #181a3f;
  overflow: hidden;
  // display: block;
}

.flat-button {
  border: 3px solid #d0cece;
  color: #d0cece;
  font-size: 0.9vw;
  background: none;
  font-weight: 600;
  letter-spacing: 3px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 1vw 1vh;
  border-radius: 5px;
  margin-top: 1vw;
  float: left;
  white-space: nowrap;

  &:hover {
    color: rgb(213, 85, 85);
    border: 3px solid rgb(213, 85, 85);
  }

  /* Responsive Design */
  @media screen and (max-width: 1200px) {
    font-size: 1.2rem;
    padding: 10px 15px;
    margin-top: 1rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1rem;
    padding: 8px 12px;
    margin-top: 0.8rem;
    float: none;
    /* Avoid floating issues on smaller screens */
    text-align: center;
    /* Center align for better look */
  }

  @media screen and (max-width: 480px) {
    font-size: 0.9rem;
    padding: 6px 10px;
    margin-top: 0.5rem;
    width: 100%;
    /* Make the button full width */
    text-align: center;
  }
}

.hide-button {
  border: 3px solid rgba(96, 95, 95, 0.862);
  color: rgba(22, 22, 22, 0.855);
  pointer-events: none;
  /* Disables click events */
  opacity: 0.5;
  /* Makes the button appear less prominent */
  cursor: not-allowed;
  /* Changes the cursor to indicate non-interactivity */
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

:root {
  --animate-duration: 2s;
  --animate-delay: 0.9s;
}